@model ShowClientModel
<div class="client-grid">
    <link rel="stylesheet" href="~/css/client-grid.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fonts/YoungSerif-Regular.ttf" asp-append-version="true" />  
    <table class="main-table">
    @{
        int currentCount = 0;
        while(currentCount < Model.Clients.Length)
        {
            <tr>
            @for(int i = 0; i < 5 && currentCount < Model.Clients.Length; i++)
            {
                <td class="cell">
                    <table>
                        <tr><td><a asp-controller="Client" asp-action="Show" asp-route-INN="@Model.Clients[i].INN">@Model.Clients[i].Name</a></td></tr>
                        <tr><td><p>@Model.Clients[i].INN</p></td></tr>
                    </table>
                </td>
                currentCount++;
            }
            </tr>
        }
    }
    </table>
</div>